<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>시간표</title>

  <!--   <link rel="stylesheet" type="text/css" href="style.css" >-->
  <style>
    nav {
      font-size: 12pt;
      position: relative;
    }

    nav ul {
      padding: 0;
      margin: 0 ;
      width: 100%;
    }

    nav a {
      line-height: 50px;
      height: 50px;
    }

    nav li a {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    nav li:last-child a {
      border-right: 0;
    }

    nav a#pull {
      display: none;
    }

    .clearfix {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: rgb(194, 3, 30);
      line-height: 100px;
    }

    li {
      position: relative;
      display: inline-block;
    }

    li a {
      color: #fcfcfc;
      text-align: center;
      padding: 14.5px 80px;
      text-decoration: none;

    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      /*width: 5px;
      height: 30px;*/
    }

    table {
      float: right;
      margin-right: 50px;
      margin-bottom: 50px;
      
    }

    td {
      padding: 30px;
    }

    th {
      text-align: center;

    }
   

    body {
      width: 100%;
      margin-top: 0%;
      margin-left: 0;
      margin-bottom: 0%;
      margin-right: 0%;
      position: absolute;
    }
    #listmenu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 20%;
      background-color: #ffffff;
      position: sta;
      height: 100%;
      overflow: auto;
    }
  </style>
</head>

<!-- 아래부터 상단 메뉴바 -->

<body>
  <header>
    <div class="menu">
      <nav class="clearfix">
        <ul class="clearfix">
          <li><a href="/"><img src="dsulogo.PNG" style="float:left; height: 100px;"></a></li>
          <li><a href="/">시간표</a></li>
          <li><a href="subjectlist.html">전체수강조회</a></li>
          <li><a href="selectlist.html">신청내역조회</a></li>
          <li><a href="https://time.navyism.com/?host=naver.com">시간</a></li>
        </ul>
        <a id="pull" href="#"></a>
      </nav>
    </div>
  </header>
  <div style="clear: both;">
    <ul class='listmenu'>
      <li>학년</li>
      <li>전공</li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div style="clear: both;"></div>

  <!-- 아래부터 테이블 -->
  <div>
    <table style="width:95%">
      <tr>
        <th> 번호</th>
          <th>교과명</th>
          <th>교수명</th>
          <th>과목분류</th>
          <th>학점</th>
        </tr>
          <% for(var i = 0; i< posts.length; i++) { %>
            <tr  class="colored">
              <th><%= i+1 %></th>
              <th><%= posts[i].Name %></th>
              <th><%= posts[i].P_Name %></th>
              <th><%= posts[i].S_Div %></th>
              <th><%= posts[i].S_Credit %></th>
          </tr>
          <% } %>  
      
      
  </table>
  </div>

</body>

</html>